h1{
	font-family: 'Faster One', cursive;
	padding-top: 65px;
	color: #DD0000;
	font-size: 35px;
}

h3{
	font-family: 'Bungee Inline', cursive;
	font-size: 30px;

}

html{
	background-color: #818385;
	max-width: 1500px;
}

.img-1{
	height: 325px;
	width: 25%;
	text-align: right;
	padding: 25px 70px;
	max-width: 275px;
}

.img-2{
	text-align: left;
	
}

.yo{
	color: #2156D8;
	font-size: 75px;
}

.luck{
	text-transform: uppercase;
	text-decoration: green wavy underline;
	text-emphasis: '\25B2';
-webkit-text-emphasis: '\25B2';
	color: #BA0CA1;
}

.unluck{
	font-family: 'Bangers', cursive;
	text-transform: uppercase;
	text-decoration: #4B1414 dotted underline;
	text-emphasis: 'x';
-webkit-text-emphasis: 'x';
	color: #000000; 
}

/*Define Screen Size/Styles - for mobile responsivness*/

@media screen and (max-width: 1382px) {
	html
}